/************ Variables ************/
/************ General ************/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

img {
  width: 100%;
  display: block;
}

body {
  background-color: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 100%);
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  height: 90vh;
  position: relative;
}

p.newButton {
  color: hsl(123, 43%, 39%);
  border: 3px solid hsl(123, 43%, 39%);
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
  text-align: center;
  padding-block: 1rem;
  margin: auto 2rem 2rem;
  transition: all 0.2s;
}
p.newButton:hover {
  color: hsl(123, 27%, 51%);
  border-color: hsl(123, 27%, 51%);
}
p.newButton i {
  margin-right: 1rem;
}

/*---------- nav ----------*/
nav {
  display: flex;
  align-items: center;
  text-align: center;
  height: 5vh;
  background-color: hsl(0, 0%, 15%);
  box-shadow: 0 0.2rem hsl(0, 0%, 10%);
  z-index: 3;
}

nav > h1 {
  padding-left: 1rem;
  margin-right: auto;
}

nav.login {
  position: absolute;
  top: 0;
  left: 0;
  color: hsl(0, 0%, 5%);
  box-shadow: none;
  background-color: transparent;
  font-size: 1.5rem;
  padding: 1rem;
  z-index: 2;
}

/*---------- aside ----------*/
main aside {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 2;
  width: 200px;
  background-color: hsl(0, 0%, 10%);
  height: 95vh;
}
main aside h1, main aside p {
  padding: 0.4rem 0.5rem;
}

main aside section.teams {
  position: relative;
}
main aside section.teams h1, main aside section.teams > i {
  padding-block: 0.5rem;
  border-bottom: 1px solid hsl(0, 0%, 100%);
  margin-bottom: 0.5rem;
}
main aside section.teams > i {
  text-align: center;
  display: none;
}
main aside section.teams div.hoverBox {
  z-index: -1;
  position: absolute;
  background-color: #71ad74;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 2rem;
  width: 90%;
  transform: translateY(-50%);
  transition: all 0.2s;
}
main aside section.teams p {
  align-items: center;
  cursor: pointer;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
}
main aside section.teams p.active {
  font-weight: bold;
  border-left: 2px solid hsl(123, 43%, 39%);
  color: hsl(123, 43%, 39%);
}
main aside section.teams p i {
  padding-left: 0.5rem;
}

main aside section.buttons {
  display: flex;
  flex-direction: column;
  border-top: 1px solid hsl(0, 0%, 100%);
  margin-top: auto;
  gap: 0.2rem;
}
main aside section.buttons div {
  display: flex;
  align-items: center;
  padding-block: 0.75rem;
  padding-left: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
main aside section.buttons div:hover {
  color: #bfbfbf;
}
main aside section.buttons div i {
  padding-right: 0.5rem;
}

/*---------- Login ----------*/
main.login {
  /*TODO this is offset i think*/
  height: 100vh;
  display: grid;
  place-items: center;
}
main.login .backgroundImage {
  position: absolute;
  background-image: url("./img/background.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  left: 0;
  height: 100vh;
  width: 75%;
  z-index: 1;
}

#login-container {
  background-color: hsl(0, 0%, 5%);
  box-shadow: 0.1rem 0.1rem hsl(0, 0%, 25%);
  text-align: center;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  width: 35vw;
  box-sizing: border-box;
  z-index: 2;
}
#login-container h2 {
  font-size: 3rem;
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  text-align: center;
  margin-bottom: 3rem;
}
#login-container input {
  background-color: hsl(0, 0%, 5%);
  outline: none;
  border: 1px solid hsl(0, 0%, 25%);
  font-size: 1.2rem;
  padding: 0.7rem;
  border-radius: 0.2rem;
  color: hsl(0, 0%, 100%);
  margin-bottom: 2rem;
  transition: border 0.2s;
  width: 75%;
}
#login-container input:focus {
  outline: none;
  border-color: hsl(123, 43%, 39%);
}
#login-container input:last-of-type {
  margin-bottom: 0rem;
}
#login-container .error {
  color: hsl(0, 52%, 60%);
  margin-bottom: 2rem;
  margin-top: 0.8rem;
}
#login-container .error .spacer {
  color: gray;
}
#login-container .info {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: hsl(0, 0%, 80%);
  text-transform: uppercase;
}

#login-container .buttons {
  display: flex;
  justify-content: space-around;
}
#login-container .buttons button {
  color: hsl(123, 43%, 39%);
  padding: 0.7rem 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s, background-color 0.3s;
}
#login-container .buttons button.main {
  background-color: hsl(123, 43%, 39%);
  color: hsl(0, 0%, 5%);
  border-radius: 0.5rem;
}
#login-container .buttons button.main:hover {
  background-color: hsl(123, 43%, 27%);
}
#login-container .buttons button.second {
  background-color: hsl(0, 0%, 5%);
  border-style: solid;
  border-color: hsl(123, 43%, 39%);
  border-width: 0.1rem;
  border-radius: 0.5rem;
}
#login-container .buttons button.second:hover {
  color: hsl(123, 43%, 27%);
  border-color: hsl(123, 43%, 27%);
}

#login-container section {
  display: none;
}
#login-container section.active {
  display: block;
}

/*---------- Board ----------*/
.board {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2.5vh;
}
.board section {
  background-color: hsl(0, 0%, 15%);
  width: 30%;
  height: 90vh;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.1rem hsl(0, 0%, 25%);
  overflow: hidden;
}

/*---------- ChatBox ----------*/
.board section.chat .chatBox {
  display: flex;
  flex-direction: column-reverse;
  height: 80vh;
  overflow: auto;
  -ms-overflow-style: none;
  margin-top: auto;
}

.board section.chat .messageBox {
  display: flex;
  align-items: start;
  text-align: left;
  width: 65%;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.3rem;
  border: 1px solid hsl(0, 0%, 25%);
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 18%);
}
.board section.chat .messageBox i {
  font-size: 1.5rem;
  padding: 0.5rem 0.8rem 0 0.5rem;
}
.board section.chat .messageBox.isMyMessage {
  margin-left: auto;
  background-color: hsl(123, 43%, 39%);
}
.board section.chat .messageBox.sameUser {
  margin-top: 0.1rem;
}
.board section.chat .messageBox.sameUser i {
  opacity: 0;
  user-select: none;
}
.board section.chat .messageBox.sameUser div h3 {
  display: none;
}

.board section.chat .inputBox {
  display: flex;
  height: 10vh;
  padding-inline: 1.2rem;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 15%);
  margin-top: 0.5rem;
  border-top: 2px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
}
.board section.chat .inputBox input {
  outline: none;
  border: 1px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 15%);
  width: 80%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-right: 1rem;
}
.board section.chat .inputBox p {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: hsl(123, 43%, 39%);
  transition: all 0.2s;
}
.board section.chat .inputBox p:hover {
  background-color: hsl(123, 43%, 27%);
}

/*---------- PlayerBox ----------*/
.board section.player {
  display: flex;
  flex-direction: column;
}
.board section.player .playerBox {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid hsl(0, 0%, 25%);
  box-shadow: 0.1rem 0.1rem 0.2rem hsl(0, 0%, 25%);
  border-radius: 1rem;
  overflow: auto;
  -ms-overflow-style: none;
}
.board section.player .playerBox i:first-child {
  margin-right: 1rem;
  font-size: 3rem;
}
.board section.player .playerBox i:last-child {
  margin-left: auto;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 50%;
}

/*---------- CalendarBox ----------*/
.board section.calendar {
  display: flex;
  flex-direction: column;
}

.board section.calendar .eventList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  width: 100%;
  max-height: 50%;
  overflow: auto;
  -ms-overflow-style: none;
}
.board section.calendar .eventList .eventBox {
  display: flex;
  width: 90%;
  align-items: center;
  padding-block: 2rem 1rem;
  border-bottom: 1px solid hsl(0, 0%, 100%);
}
.board section.calendar .eventList .eventBox i {
  padding-inline: 1rem;
}

/************ Imports ************/
/************ Keyframes ************/
/************ Responsive ************/
@media screen and (max-width: 1150px) { /*laptop*/
  #login-container {
    width: 50vw;
  }
  #login-container input {
    margin-bottom: 1rem;
  }
  main aside {
    width: 50px;
  }
  main aside section.teams h1 {
    display: none;
  }
  main aside section.teams > i {
    display: blocK;
  }
  main aside section.buttons {
    align-items: center;
  }
  main aside section.buttons p {
    display: none;
  }
}
@media screen and (max-width: 900px) { /*tablet*/
  .board {
    display: flex;
  }
  .board section {
    width: 60%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem hsl(0, 0%, 25%);
    overflow: hidden;
  }
  .board section.player, .board section.calendar {
    display: none;
  }
  .board section.chat .chatBox {
    height: 77vh;
  }
}
@media screen and (max-width: 600px) { /*phone*/
  #login-container {
    width: 90vw;
  }
  .board section {
    width: 90%;
  }
  main.login {
    background-size: cover;
  }
}

/*# sourceMappingURL=style.css.map */
