/************ Variables ************/
/************ General ************/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

img {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}

body {
  background-color: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 90%);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  height: 100vh;
  position: relative;
}

input {
  outline: none;
  border: 1px solid hsl(0, 0%, 20%);
}

button {
  background-color: transparent;
  border: none;
  color: hsl(0, 0%, 90%);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
  transition: 0.2s all;
}
button.filled {
  background-color: hsl(123, 43%, 39%);
  color: hsl(0, 0%, 90%);
}
button.filled:hover {
  background-color: hsl(123, 43%, 27%);
}
button.filled:not([disabled]) {
  background-color: hsl(123, 43%, 39%);
  color: hsl(0, 0%, 90%);
}
button.filled:not([disabled]):hover {
  background-color: hsl(123, 43%, 27%);
}
button.secondary {
  border: 2px solid hsl(123, 43%, 39%);
  color: hsl(123, 43%, 39%);
}
button.secondary:hover {
  border-color: hsl(123, 43%, 27%);
  color: hsl(123, 43%, 27%);
}
button.outlined {
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 90%);
}
button.outlined:hover {
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 5%);
  font-weight: bold;
}
button.newButton {
  color: hsl(123, 43%, 39%);
  border: 3px solid hsl(123, 43%, 39%);
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
  text-align: center;
  padding-block: 1rem;
  margin: auto 2rem 2rem;
  transition: all 0.2s;
}
button.newButton:hover {
  color: hsl(123, 27%, 51%);
  border-color: hsl(123, 27%, 51%);
}
button.newButton i {
  margin-right: 1rem;
}

hr {
  color: hsl(0, 0%, 90%);
}

/*---------- nav ----------*/
nav {
  display: flex;
  align-items: center;
  text-align: center;
  height: 5vh;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 15%);
  box-shadow: 0 0.2rem hsl(0, 0%, 10%);
  z-index: 3;
}

nav > h1 {
  padding-left: 1rem;
  margin-right: auto;
}

nav.login {
  position: absolute;
  top: 0;
  left: 0;
  color: hsl(0, 0%, 5%);
  box-shadow: none;
  background-color: transparent;
  font-size: 1.5rem;
  padding: 1rem;
  z-index: 2;
}

/*---------- sidebar ----------*/
.toggleAside {
  display: none;
}

main aside.sidebar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 5;
  width: 200px;
  background-color: hsl(0, 0%, 10%);
  height: 95vh;
}
main aside.sidebar h1, main aside.sidebar p {
  padding: 0.4rem 0.5rem;
}

main aside.sidebar section.teams {
  position: relative;
}
main aside.sidebar section.teams h1, main aside.sidebar section.teams > i {
  padding-block: 0.5rem;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  margin-bottom: 0.5rem;
}
main aside.sidebar section.teams > i {
  text-align: center;
  display: none;
}
main aside.sidebar section.teams div.hoverBox {
  z-index: -1;
  position: absolute;
  background-color: #71ad74;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 2rem;
  width: 90%;
  transform: translateY(-50%);
  transition: all 0.2s;
}
main aside.sidebar section.teams p {
  align-items: center;
  cursor: pointer;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
}
main aside.sidebar section.teams p.active {
  font-weight: bold;
  border-left: 2px solid hsl(123, 43%, 39%);
  color: hsl(123, 43%, 39%);
}
main aside.sidebar section.teams p i {
  padding-left: 0.5rem;
}
main aside.sidebar section.teams div.addButton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-right: 0.5rem;
  padding-block: 0.2rem;
  border: 1px solid #666666;
  border-left: none;
  cursor: pointer;
  transition: 0.2s all;
}
main aside.sidebar section.teams div.addButton input {
  background: none;
  color: hsl(0, 0%, 90%);
  width: 60%;
  border: 0.1rem solid hsl(0, 0%, 30%);
  border-radius: 0.5rem;
  padding: 0.2rem;
}
main aside.sidebar section.teams div.addButton input:focus {
  outline: none;
  border-color: white;
}
main aside.sidebar section.teams div.addButton i.fa-check:hover, main aside.sidebar section.teams div.addButton i.fa-trash:hover {
  color: #999999;
}
main aside.sidebar section.teams div.addButton span {
  padding: 0.2rem 0.2rem;
}
main aside.sidebar section.teams div.addButton:not(.setName):hover {
  background-color: rgba(200, 200, 200, 0.5);
}

main aside.sidebar section.buttons {
  display: flex;
  flex-direction: column;
  border-top: 1px solid hsl(0, 0%, 90%);
  margin-top: auto;
  gap: 0.2rem;
}
main aside.sidebar section.buttons div {
  display: flex;
  align-items: center;
  padding-block: 0.75rem;
  padding-left: 0.5rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
}
main aside.sidebar section.buttons div:hover {
  color: #a6a6a6;
}
main aside.sidebar section.buttons div i, main aside.sidebar section.buttons div img {
  margin-right: 0.5rem;
}
main aside.sidebar section.buttons div img {
  border: 2px solid hsl(0, 0%, 90%);
  width: 1rem;
}

/*---------- notification ----------*/
main aside.notification {
  display: none;
  position: absolute;
  flex-direction: column;
  box-sizing: border-box;
  width: 300px;
  height: 40vh;
  background-color: hsl(0, 0%, 10%);
  padding: 0.5rem 1rem;
  box-shadow: 2px 2px 2px 2px hsl(0, 0%, 15%);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  bottom: 0;
  left: 180px;
  z-index: 4;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
main aside.notification::-webkit-scrollbar {
  display: none;
}
main aside.notification.active {
  display: flex;
}
main aside.notification h1 {
  text-align: center;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid hsl(0, 0%, 30%);
}

main aside.notification div.newNotification {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  margin-block: 0.25rem;
  padding-block: 0.25rem;
  border-bottom: 1px solid hsl(0, 0%, 25%);
  grid-column-gap: 0.8rem;
}
main aside.notification div.newNotification.request {
  grid-template-columns: 0.1fr 1fr 0.1fr;
}
main aside.notification div.newNotification.request div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main aside.notification div.newNotification.request i {
  font-size: 1.2rem;
  cursor: pointer;
}
main aside.notification div.newNotification img {
  grid-row-start: 1;
  grid-row-end: span 2;
  width: 2rem;
}

/*---------- new customer ----------*/
.newCustomerPage {
  display: none;
  text-align: center;
}
.newCustomerPage.active {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}
.newCustomerPage h2 {
  font-size: 5rem;
  color: hsl(123, 43%, 39%);
}
.newCustomerPage div {
  display: flex;
  justify-content: center;
}
.newCustomerPage div button {
  margin: 1rem;
  font-size: 2rem;
}

/*---------- Login ----------*/
main.login {
  height: 100vh;
  display: grid;
  place-items: center;
}
main.login .backgroundImage {
  position: absolute;
  background-image: url("./img/background.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  left: 0;
  height: 100vh;
  width: 75%;
  z-index: 1;
}

#login-container {
  background-color: hsl(0, 0%, 5%);
  box-shadow: 0.1rem 0.1rem hsl(0, 0%, 25%);
  text-align: center;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  width: 35vw;
  box-sizing: border-box;
  z-index: 2;
}
#login-container h2 {
  font-size: 3rem;
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  text-align: center;
  margin-bottom: 3rem;
}
#login-container input {
  background-color: hsl(0, 0%, 5%);
  outline: none;
  border: 1px solid hsl(0, 0%, 25%);
  font-size: 1.2rem;
  padding: 0.7rem;
  border-radius: 0.2rem;
  color: hsl(0, 0%, 90%);
  margin-bottom: 2rem;
  transition: border 0.2s;
  width: 75%;
}
#login-container input:focus {
  outline: none;
  border-color: hsl(123, 43%, 39%);
}
#login-container input:last-of-type {
  margin-bottom: 0rem;
}
#login-container .error {
  color: hsl(0, 52%, 60%);
  margin-bottom: 2rem;
  margin-top: 0.8rem;
}
#login-container .error .spacer {
  color: gray;
}
#login-container .info {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: hsl(0, 0%, 90%);
  text-transform: uppercase;
}

#login-container .buttons {
  display: flex;
  justify-content: space-around;
}
#login-container .buttons button {
  padding: 0.7rem 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
#login-container .buttons button.filled {
  color: hsl(0, 0%, 5%);
}

#login-container section {
  display: none;
}
#login-container section.active {
  display: block;
}

/*---------- Settings ----------*/
.userSettings {
  display: none;
  width: 95%;
  height: 85vh;
  margin-left: 2.5%;
  border: 1px solid hsl(0, 0%, 25%);
  border-radius: 1rem;
  color: hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 18%);
  padding-top: 5vh;
}
.userSettings.active {
  display: flex;
  flex-direction: column;
}
.userSettings .userContainer {
  width: 65%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.userSettings input, .userSettings select {
  font-size: 1rem;
  background-color: hsl(0, 0%, 15%);
  border-radius: 0.1rem;
  color: hsl(0, 0%, 90%);
  text-align: left;
  border: none;
  border-bottom: 0.1rem solid hsl(0, 0%, 28%);
  padding: 0.5rem;
}
.userSettings input#email, .userSettings select#email {
  grid-column-start: 2;
  grid-column-end: span 3;
}
.userSettings select option {
  background: hsl(0, 0%, 18%);
}
.userSettings hr {
  border-color: hsl(0, 0%, 60%);
}
.userSettings .buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}
.userSettings .buttons button .icon {
  display: none;
  visibility: hidden;
}

.userSettings section i {
  font-size: 1.2rem;
  margin-inline: 1rem;
  cursor: pointer;
}
.userSettings section.personal #file-upload-user {
  display: none;
}
.userSettings section.personal img {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.userSettings section.personal .first {
  position: relative;
  display: flex;
  align-items: center;
}
.userSettings section.personal .first img {
  position: absolute;
  right: 100%;
  top: 50%;
  translate: 0 -50%;
}
.userSettings section.personal .first input {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.userSettings section.personal .first p {
  margin-left: 3rem;
  margin-right: 1rem;
}
.userSettings section.personal .details {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  grid-gap: 1vw;
  margin-top: 2rem;
  align-items: center;
}
.userSettings section.personal .details p:nth-child(2) {
  margin-left: 1rem;
}
.userSettings section.personal input#subtitle {
  font-size: 2rem;
}
.userSettings section.security div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.userSettings section.security input {
  padding: 0.5rem;
}
.userSettings section.security .error, .userSettings section.security .success {
  margin-top: 1rem;
  margin-left: 2rem;
}
.userSettings section.teams .section {
  border: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 20vh;
}
.userSettings section.teams .section::-webkit-scrollbar {
  display: none;
}
.userSettings section.teams .section div {
  height: 5vh;
  padding: 1rem 0.5rem;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 1rem;
  margin: 0.5rem 2rem;
  display: flex;
  align-items: center;
}
.userSettings section.teams .section div img {
  margin-right: 1rem;
  width: 2rem;
}
.userSettings section.teams .section div #file-upload-team {
  display: none;
}
.userSettings section.teams p {
  font-size: 1.2rem;
}
.userSettings section.teams h3, .userSettings section.teams .section {
  padding-block: 0.5rem;
  margin-left: 4rem;
}
.userSettings section.teams .section div.edit {
  padding: 0;
  border: none;
  margin: 0;
  margin-left: auto;
}
.userSettings section.teams .section div.edit i {
  font-size: 1.2rem;
}

/*---------- Board ----------*/
.board {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding-top: 2.5vh;
  height: 95vh;
}
.board .sections {
  display: none;
}
.board .sections.active {
  display: flex;
  justify-content: space-evenly;
}
.board .sections section {
  background-color: hsl(0, 0%, 15%);
  width: 30%;
  height: 90vh;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.1rem hsl(0, 0%, 25%);
  overflow: hidden;
}

/*---------- ChatBox ----------*/
.board .sections section.chat .chatBox {
  display: flex;
  flex-direction: column-reverse;
  height: 80vh;
  margin-top: auto;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.board .sections section.chat .chatBox::-webkit-scrollbar {
  display: none;
}

.board .sections section.chat .messageBox {
  display: flex;
  align-items: start;
  text-align: left;
  width: 65%;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.3rem;
  border: 1px solid hsl(0, 0%, 25%);
  color: hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 18%);
}
.board .sections section.chat .messageBox img {
  width: 2.5rem;
  margin: 0.3rem 0.8rem 0 0;
}
.board .sections section.chat .messageBox.isMyMessage {
  margin-left: auto;
  background-color: hsl(123, 43%, 39%);
}
.board .sections section.chat .messageBox.sameUser {
  margin-top: 0.1rem;
}
.board .sections section.chat .messageBox.sameUser i {
  opacity: 0;
  user-select: none;
}
.board .sections section.chat .messageBox.sameUser div h3 {
  display: none;
}

.board .sections section.chat .inputBox {
  display: flex;
  height: 10vh;
  padding-inline: 1.2rem;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 15%);
  margin-top: 0.5rem;
  border-top: 2px solid hsl(0, 0%, 90%);
  color: hsl(0, 0%, 90%);
}
.board .sections section.chat .inputBox input {
  outline: none;
  border: 1px solid hsl(0, 0%, 90%);
  color: hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 15%);
  width: 80%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-right: 1rem;
}

/*---------- PlayerBox ----------*/
.board section.player {
  display: flex;
  flex-direction: column;
}
.board section.player .fullView {
  padding: 1rem;
  text-align: center;
}
.board section.player .playerBox {
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: left;
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid hsl(0, 0%, 25%);
  box-shadow: 0.1rem 0.1rem 0.2rem hsl(0, 0%, 25%);
  border-radius: 1rem;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.board section.player .playerBox::-webkit-scrollbar {
  display: none;
}
.board section.player .playerBox img {
  margin-right: 1rem;
  width: 4rem;
}
.board section.player .playerBox i {
  margin-left: auto;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 50%;
}
.board section.player .userIconName {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.board section.player .detail {
  display: grid;
}
.board section.player .detail div.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

/*---------- CalendarBox ----------*/
.board section.calendar div.off {
  display: none;
}

.board section.calendar button.off {
  display: none;
}

.board section.calendar {
  display: flex;
  flex-direction: column;
}

.board section.calendar .eventCalendar {
  display: grid;
  margin-inline: 2rem;
  text-align: center;
  width: 100%;
  height: 50%;
  background-color: hsl(0, 0%, 15%);
}
.board section.calendar .eventCalendar .active {
  background-color: hsl(0, 0%, 18%);
  border-radius: 50%;
}
.board section.calendar .eventCalendar .proven {
  outline: 5px solid hsl(0, 0%, 18%);
}

.board section.calendar .eventListNav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding-block: 0.25rem;
  width: 100%;
  background-color: hsl(0, 0%, 18%);
  border: 1px solid hsl(0, 0%, 30%);
  border-left: none;
  border-right: none;
}
.board section.calendar .eventListNav p {
  user-select: none;
  cursor: pointer;
  padding: 0.5rem;
  transition: 0.2s ease all;
}
.board section.calendar .eventListNav p:hover {
  font-weight: bold;
}
.board section.calendar .eventListNav p.active {
  font-weight: bold;
}

.board section.calendar .eventFull {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.board section.calendar .eventFull::-webkit-scrollbar {
  display: none;
}
.board section.calendar .eventFull input, .board section.calendar .eventFull textarea {
  color: hsl(0, 0%, 90%);
  font-size: 1rem;
  background-color: hsl(0, 0%, 18%);
  border-radius: 0.1rem;
  text-align: left;
  border: none;
  border-bottom: 0.1rem solid hsl(0, 0%, 28%);
  padding: 0.5rem;
}
.board section.calendar .eventFull .buttons {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.board section.calendar .eventFull .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  background-color: hsl(0, 0%, 18%);
}
.board section.calendar .eventFull .header i {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: auto;
}
.board section.calendar .eventFull .header div {
  text-align: center;
  margin-right: auto;
}
.board section.calendar .eventFull .description {
  padding: 2rem;
  border-bottom: 1px solid hsl(0, 0%, 30%);
}
.board section.calendar .eventFull .description p, .board section.calendar .eventFull .description label {
  font-size: 1.2rem;
}
.board section.calendar .eventFull .description label {
  display: flex;
  align-items: center;
}
.board section.calendar .eventFull .description input, .board section.calendar .eventFull .description textarea {
  font-size: 1.2rem;
  margin: 0.5rem 1rem;
  padding: 0.2rem;
}
.board section.calendar .eventFull .description .erg {
  width: 2rem;
  text-align: center;
}
.board section.calendar .eventFull .description #duration {
  width: 5rem;
  text-align: center;
}
.board section.calendar .eventFull .playerSelect {
  padding: 2rem;
  border-bottom: 1px solid hsl(0, 0%, 30%);
}
.board section.calendar .eventFull .playerSelect label#selectPlayer {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.board section.calendar .eventFull .playerSelect div {
  display: flex;
  flex-direction: column;
}
.board section.calendar .eventFull .playerSelect div label {
  font-size: 1.2rem;
}
.board section.calendar .eventFull .gameStats {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  border-bottom: 1px solid hsl(0, 0%, 30%);
}
.board section.calendar .eventFull .gameStats label {
  margin-block: 0.3rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.board section.calendar .eventFull .gameStats .dropdown {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.board section.calendar .eventFull .gameStats .dropdown-input {
  margin-left: 1rem;
  padding: 0.3rem;
  width: 10rem;
  cursor: pointer;
  border: none;
}
.board section.calendar .eventFull .gameStats .dropdown-input:focus {
  outline: 1px solid hsl(0, 0%, 90%);
}
.board section.calendar .eventFull .gameStats .selected {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: hsl(0, 0%, 18%);
  border-bottom: 1px solid hsl(0, 0%, 30%);
  width: fit-content;
  max-width: 100%;
}
.board section.calendar .eventFull .gameStats .selected div {
  display: flex;
}
.board section.calendar .eventFull .gameStats input.count {
  width: 2rem;
}
.board section.calendar .eventFull .gameStats .players {
  display: flex;
}
.board section.calendar .eventFull .gameStats .selected-member {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 2px 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
}
.board section.calendar .eventFull .gameStats .selected-member span {
  margin-right: 5px;
}
.board section.calendar .eventFull .gameStats .selected-member button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.board section.calendar .eventFull .gameStats .dropdown-list {
  display: none;
  position: absolute;
  width: 10rem;
  max-height: 10rem;
  overflow-y: auto;
  border-top: none;
  background-color: hsl(0, 0%, 30%);
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  padding: 0.1rem;
  z-index: 999;
}
.board section.calendar .eventFull .gameStats .dropdown-list-item {
  cursor: pointer;
  padding: 0.2rem;
  background-color: hsl(0, 0%, 15%);
  transition: all 0.1s ease;
}
.board section.calendar .eventFull .gameStats .dropdown-list-item:hover {
  background-color: hsl(0, 0%, 20%);
}

.board section.calendar .eventList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 30vh;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.board section.calendar .eventList::-webkit-scrollbar {
  display: none;
}
.board section.calendar .eventList .eventBox {
  display: flex;
  cursor: pointer;
  width: 90%;
  align-items: center;
  padding-block: 2rem 1rem;
  border-bottom: 1px solid hsl(0, 0%, 30%);
}
.board section.calendar .eventList .eventBox i {
  font-size: 1rem;
  padding-inline: 1rem;
}
.board section.calendar .eventList .eventBox .controls {
  margin-left: auto;
}
.board section.calendar .eventList .eventBox .controls i {
  font-size: 1.5rem;
  cursor: pointer;
}
.board section.calendar .eventList .newEventList {
  margin-bottom: 1rem;
}
.board section.calendar .eventList .newEventList select, .board section.calendar .eventList .newEventList option, .board section.calendar .eventList .newEventList input {
  background: hsl(0, 0%, 18%);
  color: hsl(0, 0%, 90%);
  padding: 0.2rem;
}
.board section.calendar .eventList .newEventList div.selects, .board section.calendar .eventList .newEventList div.inputs {
  display: grid;
  grid-template-columns: 2fr 2fr 0.5fr;
}
.board section.calendar .eventList .newEventList div.selects.selects, .board section.calendar .eventList .newEventList div.inputs.selects {
  grid-template-columns: 0.5fr 1fr;
}

/*---------- PopUp ----------*/
.popUp {
  display: none;
}

.popUp.active {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.3);
  backdrop-filter: blur(5px);
  z-index: 10000;
}
.popUp.active i {
  margin-block: 1rem;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 90%);
}

.popUp.active .content > div {
  display: none;
  box-shadow: 0.2rem 0.2rem 0.2rem hsl(0, 0%, 30%);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: hsl(0, 0%, 15%);
  border-radius: 1rem;
  padding: 3rem;
  width: 30vw;
}
.popUp.active .content > div.active {
  display: flex;
}
.popUp.active .content > div .teamList {
  margin-top: 0.5rem;
  width: 15vw;
  border-radius: 1rem;
  padding: 1rem;
}
.popUp.active .content > div .teamList div {
  margin-inline: auto;
  width: 80%;
  max-height: 8vh;
  padding-block: 0.5rem;
  border: 1px solid hsl(0, 0%, 90%);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top: none;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.popUp.active .content > div .teamList div::-webkit-scrollbar {
  display: none;
}
.popUp.active .content > div .teamList div p {
  padding-block: 0.1rem;
  cursor: pointer;
}
.popUp.active .content > div .teamList div p:hover {
  color: #999999;
}
.popUp.active .content > div input {
  padding: 0.5rem;
  border: 2px solid hsl(0, 0%, 90%);
  color: hsl(0, 0%, 90%);
  background: none;
  border-radius: 0.5rem;
  width: 15vw;
  box-sizing: border-box;
}
.popUp.active .content > div input:focus {
  border: 2px solid #999999;
}
.popUp.active .content > div a {
  margin-top: 0.5rem;
  color: hsl(0, 0%, 90%);
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s all;
}
.popUp.active .content > div a:hover {
  text-decoration: underline;
}
.popUp.active .content > div .buttons {
  margin-top: 2rem;
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
.popUp.active .content > div .buttons button {
  width: 5vw;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.2s all;
}
.popUp.active .content > div img {
  width: 5rem;
  margin-block: 1rem;
  cursor: pointer;
}

.file-upload-team {
  display: none;
}

.popUp.logoutInfo p {
  padding-block: 1rem;
}
.popUp.logoutInfo button {
  margin-inline: 0.5rem;
}

/*---------- PopUp ----------*/
.error {
  color: hsl(0, 100%, 64%);
}
.error.create {
  padding-top: 1rem;
}

.success {
  color: hsl(100, 100%, 64%);
}

.popupEngineModalButtons .popupEngineModalButton:first-child {
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 90%);
}
.popupEngineModalButtons .popupEngineModalButton:first-child:hover {
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 5%);
  font-weight: bold;
}
.popupEngineModalButtons .popupEngineModalButton:last-child {
  background-color: hsl(123, 43%, 39%);
  color: hsl(0, 0%, 90%);
}
.popupEngineModalButtons .popupEngineModalButton:last-child:hover {
  background-color: hsl(123, 43%, 27%);
}

/************ Imports ************/
/************ Keyframes ************/
/************ Responsive ************/
@media screen and (max-width: 1150px) { /*laptop*/
  .newCustomerPage.active {
    display: none;
  }
  .userSettings {
    display: none !important;
  }
  #login-container {
    width: 50vw;
  }
  #login-container input {
    margin-bottom: 1rem;
  }
  main aside {
    width: 50px;
  }
  main aside section.teams h1 {
    display: none;
  }
  main aside section.teams > i {
    display: blocK;
  }
  main aside section.buttons {
    align-items: center;
  }
  main aside section.buttons p {
    display: none;
  }
}
@media screen and (max-width: 1050px) { /*tablet*/
  body {
    overflow: auto !important;
  }
  main aside.sidebar section.buttons {
    flex-direction: row;
    justify-content: space-evenly;
  }
  main aside.sidebar section.buttons i {
    font-size: 1.5rem;
  }
  main aside.sidebar section.buttons div img {
    width: 1.5rem;
  }
  .popUp.active .content > div {
    width: 50vw;
  }
  .popUp.active .content > div input {
    width: 100%;
  }
  .popUp.active .content > div .buttons {
    margin-top: 0.5rem;
    width: 100%;
  }
  .popUp.active .content > div .buttons button {
    margin-block: 1rem;
    width: fit-content;
  }
  .popUp.active .content > div .teamList {
    width: 100%;
  }
  .board .sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    overflow: auto;
  }
  .board .sections section {
    width: 80%;
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem hsl(0, 0%, 25%);
  }
  .userSettings .buttons button {
    border: none;
  }
  .userSettings .buttons button .text {
    display: none;
  }
  .userSettings .buttons button .icon {
    display: initial;
    visibility: visible;
  }
}
@media screen and (max-width: 600px) { /*phone*/
  #login-container {
    width: 90vw;
  }
  main aside.sidebar {
    position: absolute;
    z-index: 100;
    width: 10vw;
    min-width: 0;
    padding: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.42);
    transition: all 0.3s;
    height: fit-content;
  }
  main aside.sidebar .toggleAside {
    display: grid;
    place-content: center;
    font-size: 1.2rem;
    padding: 0.2rem;
  }
  main aside.sidebar .toggleAside .x {
    display: none;
  }
  main aside.sidebar:not(.active) {
    border-bottom-right-radius: 0.5rem;
  }
  main aside.sidebar:not(.active) .buttons, main aside.sidebar:not(.active) button, main aside.sidebar:not(.active) .content, main aside.sidebar:not(.active) hr {
    display: none !important;
  }
  main aside.sidebar.active {
    height: 94dvh;
    width: 35vw;
  }
  main aside.sidebar.active .toggleAside .x {
    display: block;
  }
  main aside.sidebar.active .toggleAside .burger {
    display: none;
  }
  .board .sections section {
    width: 90%;
  }
  .board section {
    width: 90%;
  }
  main.login {
    background-size: cover;
  }
}

/*# sourceMappingURL=style.css.map */
